/kubespray/*
!/kubespray/inventory/
/kubespray/inventory/*
!/kubespray/inventory/cluster/
/kubespray/inventory/cluster/*
!/kubespray/inventory/cluster/inventory.ini

!/kubespray/inventory/cluster/group_vars/
/kubespray/inventory/cluster/group_vars/*
!/kubespray/inventory/cluster/group_vars/k8s_cluster
/kubespray/inventory/cluster/group_vars/k8s_cluster/*
!/kubespray/inventory/cluster/group_vars/k8s_cluster/k8s-cluster.yml

/rook/*